name: 'Chromatic'

on:
  push:
    branches:
      - '**' # match all branches

jobs:
    chromatic-deployment:
        # Do not run when a version bump commit occurs
        if: (github.event_name == 'push') && !contains(github.event.head_commit.message, 'chore(ci)')
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.14.2
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Test
              if: github.ref != 'ref/heads/main'
              run: npm run test:ci
            - name: Publish to Chromatic
              uses: chromaui/action@v1
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
                  onlyChanged: true
                  exitZeroOnChanges: true
                  exitOnceUploaded: true
                  externals: 'src/styles/tailwind.css'
              env:
                  SB: 1
